@model ArtInk.Site.ViewModels.Request.Misc.SucursalSucursalHorario

@await Html.PartialAsync("~/Views/Shared/_ManejoMensajes.cshtml")

<div class="row px-3">
    <div class="col-sm-12 col-md-12">
        <label class="form-label">Agregar horarios</label>
    </div>
    <div class="col-sm-11 col-md-11">
        <select id="IdHorarioSelect" class="form-select"
                asp-items='@(new SelectList(Model.Horarios,"Id","NombreSelect"))'></select>
    </div>
    <div class="col-sm-1 col-md-1">
        <button type="button" class="btn btn-success btn-sm flex-fill m-0" onclick="agregarHorarioSucursal(this)">
            <span class="material-symbols-outlined">
                add
            </span>
        </button>
    </div>
</div>
<div class="row px-3 pt-3">
    <div class="col-sm-12 col-md-12">
        <label class="form-label">Horarios agregados</label>
    </div>
</div>
<ul class="list-group px-3 pb-3">
    @{
        foreach (var it in Model.HorariosSucursal.Select((x, i) => new { Value = x, Index = i }))
        {
            <li class="list-group-item">
                <div class="row">
                    <input hidden name="HorariosSucursal[@it.Index].Horario.Id" value="@it.Value.Horario.Id" /> 
                    <input hidden name="HorariosSucursal[@it.Index].Horario.Dia" value="@it.Value.Horario.Dia" /> 
                    <input hidden name="HorariosSucursal[@it.Index].Horario.HoraInicio" value="@it.Value.Horario.HoraInicio" /> 
                    <input hidden name="HorariosSucursal[@it.Index].Horario.HoraFin" value="@it.Value.Horario.HoraFin" /> 
                    <input hidden name="HorariosSucursal[@it.Index].IdHorario" value="@it.Value.IdHorario" />
                    <div class="col-sm-12 col-md-6">
                        <label class="form-label">@it.Value.Horario.Dia</label>
                    </div>
                    <div class="col-sm-10 col-md-5">
                        <label class="form-label">@it.Value.Horario.HorarioFormateado</label>
                    </div>
                    <div class="col-sm-2 col-md-1">
                        <button type="button" class="btn btn-danger btn-sm flex-fill m-0" data-horario="@it.Value.IdHorario"
                                onclick="eliminarHorarioSucursal(this)">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>
                    </div>
                </div>
            </li>
        }
    }
</ul>

@await Html.PartialAsync("_ValidationScriptsPartial")
