@model IEnumerable<ArtInk.Site.ViewModels.Response.DetalleFacturaResponseDTO>

@{
    ViewData["Title"] = "Detalle Factura";
}

<h1>Detalle Factura</h1>


@foreach (var item in Model)
{
    <div class="factura-detalle">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Id)
            </dd>
           
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.IdServicio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Servicio.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.NumeroLinea)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.NumeroLinea)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Cantidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Cantidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.TarifaServicio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.TarifaServicio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.MontoSubtotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.MontoSubtotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.MontoImpuesto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.MontoImpuesto) %
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.MontoTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </dd>
        </dl>
        <hr />
    </div>
}
