@using ArtInk.Site.Models;
@model IEnumerable<ArtInk.Site.ViewModels.Response.ProductoResponseDto>

@{
    ViewData["Title"] = "Producto";
}

<h1>Producto</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mb-3">Inicio</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var actions = new CommonActionsUser(){
                Id = item.Id,
                Editar = true,
                Detalles = true,
                Eliminar = true
            };
            <div class="col-md-6 col-sm-12 col-xxl-3">
                <div class="card mb-4 shadow-sm card-fixed-heigth sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="card-text">
                            <strong>Descripción:</strong> @Html.DisplayFor(modelItem => item.Descripcion)<br />
                            <strong>Costo:</strong> @Html.DisplayFor(modelItem => item.Costo)<br />
                            <strong>SKU:</strong> @Html.DisplayFor(modelItem => item.Sku)<br />
                            <strong>Cantidad:</strong> @Html.DisplayFor(modelItem => item.Cantidad)<br />
                        </p>
                        <div class="mt-auto">
                            @await Html.PartialAsync("~/Views/Shared/_CommonActionsUser.cshtml", actions)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>