@model IEnumerable<ArtInk.Site.ViewModels.Response.ProductoResponseDTO>

@{
    ViewData["Title"] = "Producto";
}

<h1>Producto</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mb-3">Inicio</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-12 col-xxl-3">
                <div class="card mb-4 shadow-sm card-fixed-heigth sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="card-text">
                            <strong>Descripción:</strong> @Html.DisplayFor(modelItem => item.Descripcion)<br />
                            <strong>SKU:</strong> @Html.DisplayFor(modelItem => item.Sku)<br />
                            <strong>Cantidad:</strong> @Html.DisplayFor(modelItem => item.Cantidad)<br />
                            <strong>Costo:</strong> @Html.DisplayFor(modelItem => item.Costo)<br />
                        </p>
                        <div class="mt-auto">
                            <div class="btn-group d-flex justify-content-between" role="group">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm flex-fill mx-1" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm flex-fill mx-1" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm flex-fill mx-1" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>