@using ArtInk.Site.Common;
@model IEnumerable<ArtInk.Site.ViewModels.Response.SucursalResponseDto>
    
@inject ICurrentUserAccessor CurrentUserAccessor

@{
    ViewData["Title"] = "Sucursal";
    var usuario = CurrentUserAccessor.GetCurrentUser();
    var permiteEditar = usuario.Role == "Administrador";
}

<h1>Sucursales</h1>

<p>
    @if(usuario.Role == "Administrador")
    {
        <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
    }
</p>

<table id="sucursalesTable" class="table table-striped table-dark table-hover artink-tables">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.CorreoElectronico)</th>
            <th>@Html.DisplayNameFor(model => model.DireccionExacta)</th>
            <th>@Html.DisplayNameFor(model => model.Activo)</th>
            @if(usuario.Role == "Administrador")
            {
                <th>@Html.DisplayNameFor(model => model.UsuarioSucursals)</th>
                <th>Acciones</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var actions = new CommonActionsUser(){
                Id = item.Id,
                Editar = permiteEditar,
                Eliminar = false
            };
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                <td>@String.Format("{0}, {1}, {2}, {3}", item.Distrito.Canton.Provincia.Nombre, item.Distrito.Canton.Nombre, item.Distrito.Nombre, item.DireccionExacta)</td>
                <td>@Html.DisplayFor(modelItem => item.Activo)</td>
                @if(usuario.Role == "Administrador")
                {
                    <td>
                        <div class="btn-group d-flex justify-content-between gap-2">
                            @Html.ActionLink("Asociar", "AsociarEncargados", new { id = item.Id }, new { @class = "btn btn-light text-black btn-sm flex-fill m-0" })        
                        </div>
                    </td>
                    <td>
                        @await Html.PartialAsync("~/Views/Shared/_CommonActionsUser.cshtml", actions)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

