@model ArtInk.Site.ViewModels.Request.FacturaRequestDto

<div class="row mb-4">
    <div class="col-sm-12 col-md-12">
        <label for="IdServicio" class="form-label">Servicios</label>
    </div>
    <div class="col-10 col-md-11">
        <select id="IdServicioSelect" class="form-select"
                asp-items='@(new SelectList(Model.Servicios, "Id" , "DescripcionCompletaSelect"))'></select>
    </div>
    <div class="col-2 col-md-1 text-end">
        <button type="button" class="btn btn-success btn-sm flex-fill m-0" onclick="agregarDetalle(this)">
            <span class="material-symbols-outlined">
                add
            </span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <label for="IdServicio" class="form-label">Detalle de factura</label>
    </div>
    <div class="col-sm-12 col-md-12 mb-4" id="DetallesAgregados">
        <div class="table-responsive">
            <table class="w-100 table table-sm table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width:5%">Nº</th>
                        <th scope="col" style="width:23%">Servicio</th>
                        <th scope="col" style="width:15%">Tarifa</th>
                        <th scope="col" style="width:13%">Cantidad</th>
                        <th scope="col" style="width:13%">Subtotal</th>
                        <th scope="col" style="width:13%">Impuesto</th>
                        <th scope="col" style="width:13%">Total</th>
                        <th scope="col" style="width:5%"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model.DetalleFacturas.Select((x, i) => new { Value = x, Index = i }))
                    {
                        <tr>
                            <div hidden>
                                <input name="DetalleFacturas[@item.Index].NumeroLinea" value="@item.Value.NumeroLinea" />
                                <input name="DetalleFacturas[@item.Index].IdServicio" value="@item.Value.IdServicio" />
                                <input name="DetalleFacturas[@item.Index].Servicio.Nombre"
                                       value="@item.Value.Servicio.Nombre" />
                                <input name="DetalleFacturas[@item.Index].Servicio.Descripcion"
                                       value="@item.Value.Servicio.Descripcion" />
                                <input name="DetalleFacturas[@item.Index].Servicio.TipoServicio.Nombre"
                                       value="@item.Value.Servicio.TipoServicio.Nombre" />
                                <input name="DetalleFacturas[@item.Index].Servicio.Tarifa"
                                       id="TarifaServicioDetalle-@item.Value.NumeroLinea"
                                       value="@item.Value.Servicio.Tarifa.ToString(" #,##0.00")" />
                            </div>
                            <td>
                                @item.Value.NumeroLinea
                            </td>
                            <td>
                                @item.Value.Servicio.Nombre: @item.Value.Servicio.Descripcion
                            </td>
                            <td class="text-end">
                                @item.Value.Servicio.Tarifa.ToString("#,##0.00")
                            </td>
                            <td class="text-right">
                                <input name="DetalleFacturas[@item.Index].CantidadFormateada"
                                       id="CantidadDetalle-@item.Value.NumeroLinea" data-mask="#,##0" data-mask-reverse="true"
                                       data-linea="@item.Value.NumeroLinea"
                                       class="form-control cantidad calculo-detalle text-end"
                                       onkeyup="calcularTotalesLinea(this)" value="@item.Value.CantidadFormateada">
                            </td>
                            <td>
                                <input name="DetalleFacturas[@item.Index].MontoSubtotalFormateado" readonly
                                       id="SubTotalDetalle-@item.Value.NumeroLinea" class="form-control subtotal text-end"
                                       value="@item.Value.MontoSubtotalFormateado">
                            </td>
                            <td>
                                <input name="DetalleFacturas[@item.Index].MontoImpuestoFormateado" readonly
                                       id="ImpuestoDetalle-@item.Value.NumeroLinea" class="form-control impuesto text-end"
                                       value="@item.Value.MontoImpuestoFormateado">
                            </td>
                            <td>
                                <input name="DetalleFacturas[@item.Index].MontoTotalFormateado" readonly
                                       id="TotalDetalle-@item.Value.NumeroLinea" class="form-control total text-end"
                                       value="@item.Value.MontoTotalFormateado">
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm flex-fill m-0"
                                        data-linea="@item.Value.NumeroLinea" onclick="eliminarDetalle(this)">
                                    <span class="material-symbols-outlined">
                                        close
                                    </span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>