@model ArtInk.Site.ViewModels.Request.FacturaRequestDto

@{
    ViewData["Title"] = "Create";
    var pedido = Model.IdPedido == null ? "" : $"Nº {Model.IdPedido}";
    var origenPedido = Model.IdPedido != null;
}

<div class="container mt-5">
    <div class="card mx-auto disable-hover" style="max-width: 1000px;">
        <div class="card-header bg-primary text-white">
            <h4>Factura Reserva @pedido</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" class="form-object">

                <div hidden>
                    <input asp-for="Accion" id="Accion" />
                    <input asp-for="IdServicio" id="IdServicio" />
                    <input asp-for="NumeroLineaEliminar" id="NumeroLineaEliminar" />
                    <input asp-for="PorcentajeImpuestoFormateado" id="PorcentajeImpuestoFormateado" />
                    <input asp-for="IdPedido" />
                </div>

                <div class="ro2">
                    <div class="col-12 col-sm-6 mb-4">
                        <label asp-for="IdSucursal" class="form-label"></label>
                        @{
                            if(origenPedido)
                            {
                                <input asp-for="IdSucursal" hidden />
                                <select id="IdSucursal" class="form-select cargar-horario"
                                asp-items='@(new SelectList(Model.Sucursales, "Id", "Nombre", Model.IdSucursal))' disabled></select>
                            }else
                            {
                                <select asp-for="IdSucursal" class="form-select cargar-horario"
                                asp-items='@(new SelectList(Model.Sucursales, "Id", "Nombre" ))'></select>
                            }
                        }
                        <span asp-validation-for="IdSucursal" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 mb-4">
                        <label asp-for="IdCliente" class="form-label"></label>
                        <select asp-for="IdCliente" class="form-select nombre-cliente"
                                asp-items='@(new SelectList(Model.Clientes, "Id", "Nombre" ))'></select>
                        <span asp-validation-for="IdCliente" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 mb-4">
                        <label asp-for="NombreCliente" class="form-label"></label>
                        <input asp-for="NombreCliente" id="NombreCliente" class="form-control">
                        <span asp-validation-for="NombreCliente" class="text-danger"></span>
                    </div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-4">
                        <label asp-for="Fecha" class="form-label"></label>
                        <input asp-for="Fecha" id="Fecha" class="form-control date-picker-factura"
                               placeholder="Selecciona una fecha" disabled>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-4">
                        <div class="form-group">
                            <label asp-for="IdTipoPago" class="form-label"></label>
                            <select asp-for="IdTipoPago" class="form-select"
                                    asp-items='@(new SelectList(Model.TipoPagos,"Id","Descripcion"))'></select>
                            <span asp-validation-for="IdTipoPago" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-4">
                        <div class="form-group">
                            <label asp-for="IdImpuesto" class="form-label"></label>
                            <select asp-for="IdImpuesto" class="form-select valor-impuesto"
                                    asp-items='@(new SelectList(Model.Impuestos,"Id","NombreSelect"))'></select>
                            <span asp-validation-for="IdImpuesto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-4">
                        <div class="form-group">
                            <label asp-for="PorcentajeImpuestoFormateado" class="form-label"></label>
                            <input disabled readonly asp-for="PorcentajeImpuestoFormateado" class="form-control"
                                   id="PorcentajeImpuesto" data-mask="#,##0.00" data-mask-reverse="true" />
                            <span asp-validation-for="PorcentajeImpuestoFormateado" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 mb-4" id="DetallesFactura">
                    @await Html.PartialAsync("~/Views/Factura/_CreateDetalleFactura.cshtml", Model)
                </div>

                <div class="container text-end">
                    <div class="row justify-content-end">
                        <div class="col-sm-12">
                            <div class="form-group mb-3">
                                <label asp-for="SubTotalFormateado" class="form-label"></label>
                                <p class="h3" id="SubTotal">@Model.SubTotalFormateado</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-3">
                                <label asp-for="MontoImpuestoFormateado" class="form-label"></label>
                                <p class="h3" id="MontoImpuesto">@Model.MontoImpuestoFormateado</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-3">
                                <label asp-for="MontoTotalFormateado" class="form-label"></label>
                                <p class="h3" id="MontoTotal">@Model.MontoTotalFormateado</p>
                            </div>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("~/Views/Shared/_ButtonsForm.cshtml")

            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/locales/es.js"></script>
<script src="~/js/totales/calculo-totales.js"></script>

<script>
    const elems = document.querySelectorAll('.date-picker-factura');
    elems.forEach(elem => {
        var datePicker = new Datepicker(elem, {
            format: 'dd/mm/yyyy',
            language: 'es',
            minDate: 'today'
        });
    })

    const agregarDetalle = (button) => {
        if ($("#IdServicioSelect").val() == 0) return;

        const host = window.location.host;
        const url = host.split("/").reverse().slice(2).reverse().join("/") + "/Factura/AgregarEliminarLineaFactura";
        $("#Accion").val('A')
        $("#IdServicio").val($("#IdServicioSelect").val())
        const valoresForm = new FormData(document.getElementsByClassName('form-object')[0])

        $.ajax({
            url: url,
            data: valoresForm,
            type: "post",
            processData: false,
            contentType: false,
            success: (result) => {
                $("#DetallesFactura").html(result);
            }
        })
    }

    const eliminarDetalle = (buttton) => {
        const host = window.location.host;
        const url = host.split("/").reverse().slice(2).reverse().join("/") + "/Factura/AgregarEliminarLineaFactura";
        $("#Accion").val('E')
        $("#NumeroLineaEliminar").val($(buttton).data("linea"))
        const valoresForm = new FormData(document.getElementsByClassName('form-object')[0])

        $.ajax({
            url: url,
            data: valoresForm,
            type: "post",
            processData: false,
            contentType: false,
            success: (result) => {
                $("#DetallesFactura").html(result);
                actualizarTotales();
            }
        })
    }

    $(document).ready(function () {
        $(".nombre-cliente").on('change', function () {
            $("#NombreCliente").val($(".nombre-cliente option:selected").text())
        })

        $(".valor-impuesto").on('change', () => {
            if ($(".valor-impuesto").val() == 0) {
                $("#PorcentajeImpuesto").val(0);
                return 0;
            }

            const seleccion = $(".valor-impuesto option:selected").text();
            const valoresSeleccion = seleccion.split('-');
            $("#PorcentajeImpuesto").val(valoresSeleccion[1].replace("%", "").replace(",", ".").trim())
            $("#PorcentajeImpuestoFormateado").val(valoresSeleccion[1].replace("%", "").trim())
        })
    })
</script>