@model ArtInk.Site.ViewModels.Response.FacturaResponseDTO

@{
    ViewData["Title"] = "Detalle Factura";
}
<div class="container pt-3">
    <div class="row gutters">
        <div class="col-12 col-sm-12 col-xl-12">
           <div class="card bg-white pe-none">
               <div class="card-body p-0">
                   <div class="container-factura p-4">
                       <div class="header-factura text-black">
                           <div class="row gutters">
                              <div class="col-sm-12 col-xl-12">
                                  <div class="mb-5 m-auto d-flex justify-content-end">
                                      <a href="#" class="btn btn-primary m-1">
                                          <i class="icon-download"></i>Descargar
                                      </a>
                                  </div>
                              </div>
                           </div>
                           <div class="row gutters">
                               <div class="col-sm-6 col-xl-6">
                                   <h1>ArtInk</h1> @* TODO: Cambiar por ícono *@
                               </div>
                               <div class="col-sm-6 col-xl-6">
                                  <address class="text-end m-0">Dirección Local: @Model.UsuarioSucursal.Sucursal.DireccionExacta</address>
                               </div>
                           </div>
                            <div class="row gutters">
                                <div class="col-sm-6 col-xl-6"> 
                                    <div class="detalle-factura mt-3 p-3 lh-3 bg-light"> 
                                        <address>@Model.NombreCliente</address>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-6">
                                    <div class="detalle-factura mt-3 p-3 lh-3 text-end bg-light">
                                        <div>Factura: @Model.Consecutivo</div>
                                        <div>Fecha emisión: @Model.Fecha</div>
                                    </div>
                                </div>
                            </div>
                       </div>
                       <div class="body-factura">
                           <div class="row gutters">
                                <div class="col-12 col-sm-12 col-xl-12">
                                    <div class="table-response">
                                        @await Html.PartialAsync("~/Views/Factura/_DetalleFactura.cshtml", Model)
                                    </div>
                               </div>
                           </div>
                       </div>
                       <div class="footer-factura text-black">
                           Gracias por tu compra
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>

@* <div>
    <h4>FacturaResponseDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consecutivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consecutivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioSucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioSucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoImpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoImpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
    </dl>
</div>
<div>
    @await Html.PartialAsync("~/Views/Factura/_DetalleFactura.cshtml", item.DetalleFacturas);
</div> *@
<div>
    <a asp-action="Index">Back to List</a>
</div>
