@model IEnumerable<ArtInk.Site.ViewModels.Response.ReservaResponseDto>

@{
    ViewData["Title"] = "Reserva";
}

<h1>Reserva</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mb-3">Inicio</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var actions = new CommonActionsUser()
                {
                    Id = item.Id,
                    Editar = true,
                    Detalles = true,
                    Eliminar = true
                };
            <div class="col-md-6 col-sm-12 col-xxl-3">
                <div class="card mb-4 shadow-sm card-fixed-heigth sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><strong>Cita: </strong>@Html.DisplayFor(modelItem => item.Id)</h5>
                        <p class="card-text">
                            <strong>Sucursal:</strong> @Html.DisplayFor(modelItem => item.IdUsuarioSucursal)<br />
                            <strong>Fecha:</strong> @Html.DisplayFor(modelItem => item.Fecha)<br />
                            <strong>Hora:</strong> @Html.DisplayFor(modelItem => item.Hora)<br />
                            <strong>Estado:</strong> @Html.DisplayFor(modelItem => item.Estado)<br />
                        </p>
                        <div class="mt-auto">
                            @await Html.PartialAsync("~/Views/Shared/_CommonActionsUser.cshtml", actions)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>