@model IEnumerable<ArtInk.Site.ViewModels.Response.ReservaResponseDTO>

@{
    ViewData["Title"] = "Reserva";
}

<h1>Reserva</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mb-3">Inicio</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-12 col-xxl-3">
                <div class="card mb-4 shadow-sm card-fixed-heigth sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Fecha)</h5>
                        <p class="card-text">
                            <strong>Sucursal:</strong> @Html.DisplayFor(modelItem => item.SucursalHorario.Sucursal.Nombre)<br />                           
                            <strong>Hora de Inicio:</strong> @Html.DisplayFor(modelItem => item.SucursalHorario.Horario.HoraInicio)<br />
                            <strong>Hora de Fin:</strong> @Html.DisplayFor(modelItem => item.SucursalHorario.Horario.HoraFin)<br />
                            <strong>Estado:</strong> @Html.DisplayFor(modelItem => item.Estado)<br />
                        </p>
                        <div class="mt-auto">
                            <div class="btn-group d-flex justify-content-between" role="group">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
